wp-admin
wp-includes
wp-content/index.php
wp-content/debug.log
wp-content/languages
wp-content/plugins/*
!wp-content/plugins/are-you-paying-attention
wp-content/plugins/are-you-paying-attention/node_modules
wp-content/plugins/are-you-paying-attention/build

wp-content/upgrade
wp-content/uploads
wp-content/themes/*
wp-content/themes/index.php
!wp-content/themes/amazing_university_wp_theme
wp-content/themes/amazing_university_wp_theme/node_modules
wp-content/themes/amazing_university_wp_theme/build
.htaccess

license.txt
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-cron.php
wp-login.php
wp-mail.php
wp-load.php
wp-settings.php
xmlrpc.php
wp-trackback.php
wp-signup.php
wp-links-opml.php
readme.html
